*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f7e7ce;
}

.calculator {
    display: grid;
    margin-top: 2rem;
    margin-left: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}